* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.contacts {
    width: 300px;
    float: left;
    border-right: 1px solid #EAEAEA;
}

.contacts__header {
    padding: 14px 10px 0;
}

.contacts__main {
    height: calc(100vh - 95px);
    overflow-y: scroll;
}

.contacts__main::-webkit-scrollbar, .messages__main::-webkit-scrollbar {
    width: 12px;
}

.contacts__main::-webkit-scrollbar-track, .messages__main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(234, 234, 234, 0.3);
    border-radius: 10px;
}

.contacts__main::-webkit-scrollbar-thumb, .messages__main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.contact {
    height: 72px;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.contact:hover {
    cursor: pointer;
}

.contact_selected {
    background-color: #E4EDFD;
}

.contact__profileLink {
    text-decoration: none;
    float: right;
    margin: 0 0 20px 0;
    color: #999999;
    font-size: 12px;
}

.contact__profileLink:after {
    content: " >";
}

.search {
    width: 100%;
    border: 0;
    background-color: #EFEFEF;
    height: 32px;
}

.search:focus {
    outline: none;
}

.contact__search {
    border-radius: 5px;
    text-align: center;
    margin: 0 0 14px 0;
}

.contact__avatar {
    width: 47px;
    height: 47px;
    border: 1px solid #EFEFEF;
    border-radius: 47px;
    margin: 13px 10px 13px 0;
    background: #EFEFEF;
}

.contact__name {
    font-weight: 600;
    font-size: 13px;
    color: #1E1E1E;
    margin: 13px 0 5px 0;
}

.contact__preview {
    font-size: 12px;
    line-height: 15px;
    color: #999999;
    margin: 0;
}

.contact__time {
    color: #999999;
}

.time {
    font-size: 9px;
    text-align: right;
}

.contact__count {
    float: right;
    text-align: center;
    margin: 0;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #991B94;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 3px;
}

.messages {
    position: relative;
    width: calc(100% - 300px);
    float: left;
    padding: 0 20px;
}

.messages__header {
    position: relative;
    height: 54px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
}

.messages__avatar {
    width: 34px;
    height: 34px;
    border: 1px solid #EFEFEF;
    border-radius: 34px;
    margin-right: 10px;
    background: #EFEFEF;
}

.messages__name {
    font-weight: 600;
    font-size: 13px;
    color: #1E1E1E;
}

.messages__menu {
    position: absolute;
    right: 0;
}

.messages__menu:after {
    content: '\2807';
    font-size: 20px;
}

.messages__menu:hover {
    cursor: pointer;
}

.messages__main {
    position: relative;
    height: calc(100vh - 54px - 54px);
    overflow-y: scroll;
}

.messages__footer {
    width: 100%;
    height: 54px;
    border-top: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
}

.fa-paperclip {
    font-size: 28px;
    color: #999999;
}

.fa-arrow-right {
    font-size: 20px;
    color: white;
    background-color: #991B94;
    padding: 5px 7px;
    border-radius: 20px;
}

.messages__search {
    margin: 0 10px;
    padding: 0 20px;
    border-radius: 30px;
}

.messages__date {
    text-align: center;
    font-size: 12px;
    color: #999999;
    margin: 30px 0;
}

.message {
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 20px;
}

.message__text {
    padding: 10px;
}

.message__text_from {
    background-color: #F8F8F8;
    width: 400px;
    color: #1E1E1E;
}

.message__text_to {
    background-color: #E4EDFD;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 114px;
}

.message__text_inner {
    margin: 0;
}

.message__time {
    color: #991B94;
    position: absolute;
    right: 15px;
    bottom: 0;
}

.fa-check-double {
    color: #991B94;
    font-size: 8px;
    position: absolute;
    right: 41px;
    bottom: 10px;
}