
.overlay{
    position:fixed;
    z-index:999;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.75)
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -128px 0 0 -170px;
    width: 340px;
    height: 257px;
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

.popup_offset {
    left: calc(50% + 32px);
}

.popup__header {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #1E1E1E;
}

.popup__link {
    width: 122px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #991B94;
}