main {
    width: 100%;
}

.overlay{
    position:fixed;
    z-index:999;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.75)
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -128px 0 0 -170px;
    width: 340px;
    height: 257px;
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

.popup_offset {
    left: calc(50% + 32px);
}

.popup_error_message {
    height: 272px;
}

.popup__header {
    margin: 0 0 50px 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #1E1E1E;
}

.popup__link {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #991B94;
}

.popup__footer {
    margin-top: auto;
}

.popup__uploaded_link {
    font-size: 14px;
    color: #8D8D8D;
    text-decoration: none;
}

.footer_error {
    margin-bottom: 0;
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
}