* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 450px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.login_box.login_box__higher{
    height: 615px;
}

.login_box_title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #1E1E1E;
}

.login_form {
    width: 100%;
    margin-top: 45px;
}

.login_form__margin {
    margin-bottom: 120px;
}

.login_form_label {
    font-size: 9px;
    line-height: 9px;
    color: #999999;
}

.form__input_wrapper{
    margin-bottom: 32px;
}

.form__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #991B94;
}

.form__input:focus {
    outline: none;
}

.form_buttons {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.text_link {
    width: 78px;
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    color: #991B94;
}